.review-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid grey;
}

.review-card .user-details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.review-card .user-details p {
  margin: 0 0 10px 0;
}

.review-card .user-details div {
  display: flex;
  align-items: center;
}

.review-card .rating {
    background-color: #008001;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: yellow;
}
